@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* NavBar section */
.nav-bar{
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar h2{
  font-size: 36px;
}

.nav-bag{
  display: flex;
  align-items: center;
}

.bag-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background: yellow;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-left: 4px;
}

/* Not Found Section */
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2{
  font-size: 56px;
}

.not-found p{
  font-size: 28px;
}