@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* NavBar section */
.nav-bar{
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.nav-bar h2{
  font-size: 36px;
}

.nav-bag{
  display: flex;
  align-items: center;
}

.bag-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background: yellow;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-left: 4px;
}

/* Not Found Section */
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2{
  font-size: 56px;
}

.not-found p{
  font-size: 28px;
}

/* Product Section */
.product-container{
  padding: 2rem 4rem;
}

.product-container h2{
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product{
  width: 250px;
  max-width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);
  border-radius: 15px;

}

.product img{
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.product h3{
  font-size: 24px;
  font-weight: 500;
}

.product .details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.product .details .desc{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product .details .price{
  font-size: 20px;
  font-weight: 700;
}

.product button{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}